argon2-cffi
fastapi
folium
joblib
matplotlib
openai>=2.17.0,<3
pandas
plotly
psycopg2-binary
PyJWT
requests
scikit-learn==1.6.1
seaborn
sqlalchemy
streamlit
streamlit-folium
uvicorn
xgboost
prometheus-client
